.metro-background {
  background-color: #f5f5f0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.metro-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  -webkit-mask-image: radial-gradient(
    ellipse 85% 85% at 50% 50%,
    black 0%,
    black 70%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 85% 85% at 50% 50%,
    black 0%,
    black 70%,
    transparent 100%
  );
}
